<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('layouts/head'); %>
    </head>
    <body class="container">

    <header>
        <%- include('layouts/header'); %>
    </header>
    <br>
        <main>
            <div class="container">
                <% if (cart) { %>
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Cart Details</h2>
                            <hr/>
                            <table class="table alignmiddle table-borderless">
                                <thead>
                                <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Product Price</th>
                                    <th scope="col">Total Price</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    <% let totalPrice = 0; %>
                                    <% cart.items.forEach(function(product) { %>
                                    <tr>
                                        <td><img src="/images/ganjas/<%= product.coverImage %>" width="50" alt=""></td>
                                        <td><%= product.productId.name %></td>
                                        <td><%= product.quantity %></td>
                                        <td><%= product.price %>€</td>
                                        <td><%= product.total %>€</td>
                                        <td>
                                            <!-- <a class="mx-2" href="#" data-id="<%= product.id %>">+</a>
                                            <a class="mx-2" href="#" data-id="<%= product.id %>">-</a>
                                            <a href="#" id="remove-item" data-id="<%= product.id %>">Remove</a> -->
                                        </td>
                                    </tr>
                                    <% totalPrice += +product.total %>
                                    <% } ) %>
                                    <tr>
                                        <td colspan="6" align="right"><b>Total: </b> <%= parseFloat(totalPrice).toFixed(2) %> €</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" align="right">
                                            <a role="button" id="clear-cart-btn" class="btn btn-danger" href="#">Clear cart</a>
                                        </td>
                                        <td colspan="5" align="right">
                                            <a role="button" class="btn btn-primary buy-now" href="#">Buy now</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <form class="pp" action="https://www.paypal.com/us/cgi-bin/webscr" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="business" value="vladimir.monarov@gmail.com">
                                <% let num = 0 %>
                                <% cart.items.forEach(function(product) { %>
                                    <% num++ %>
                                    <input type="hidden" name="item_name_<%= num %>" value="<%= product.name %>">
                                    <input type="hidden" name="amount_<%= num %>" value="<%= product.price %>">
                                    <input type="hidden" name="quantity_<%= num %>" value="<%= product.quantity %>">
                                <% })%>
                                <input type="hidden" name="currency_code" value="EUR">
                                <input type="hidden" name="amount">
                                <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
                            </form>
                        </div>
                    </div>
                <% } else { %>
                    <div><h1>No products in the cart</h1></div>
                <% } %>
            </div>
        </main>
        <script>
            const buyNow = () => {
                const buyNowBtn = document.querySelector(".buy-now")
                    if(buyNowBtn){
                        buyNowBtn.addEventListener("click", e => {
                        e.preventDefault()
                        document.querySelector(".pp input[type=image]").click()
                    })
                }
            }
            buyNow()
            
        </script>
        <footer>
            <%- include('layouts/footer'); %>
        </footer>
    </body>
</html>













